/*******************************************
                Styles communs
*******************************************/
:root {
  --couleur-fond-nav: #f1f2f7;
  --couleur-principal: #2c416e;
  --couleur-principal-hover: #233456;
  --couleur-secondaire: #ffbd01;
  --couleur-secondaire-hover: #f2b100;
  --taille-texte-principal: 15px;
  --taille-texte-secondaire: 12px;
}

* {
  padding: 0;
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
body {
  display: flex;
  min-height: 100vh;
}
.right-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

main {
  padding: 2% 4%;
}

/*** Aside ***/
.aside-page {
  width: 22%;
  background-color: var(--couleur-fond-nav);
  position: sticky;
  top: 0;
}
.aside-page .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  gap: 10px;
}
.aside-page .logo img {
  width: 30px;
  height: 31px;
}
.aside-page .logo p {
  font-size: 15px;
  font-weight: bold;
}
.aside-page .logo span {
  font-size: 10px;
  font-weight: bold;
}
.aside-page .logo .logo-container {
  line-height: 1;
}
.aside-page .navigation {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
}
.aside-page .navigation p {
  font-size: var(--taille-texte-secondaire);
}
.aside-page .navigation .nav-title {
  color: #2732409d;
}
.aside-page .parametrage,
.aside-page .menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  font-weight: 500;
}
.aside-page .parametrage-nav,
.aside-page .menu-nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-top: 20px;
  white-space: nowrap;
  gap: 2px;
}
.aside-page .parametrage-child,
.aside-page .menu-child {
  width: fit-content;
  padding: 4px 20px;
  gap: 10px;
  display: flex;
  color: #2732409d;
  border-radius: 10px;
}
.aside-page .parametrage-child:hover,
.aside-page .menu-child:hover {
  cursor: pointer;
  background-color: var(--couleur-principal);
  color: white;
}
.aside-page .parametrage-child:hover img,
.aside-page .menu-child:hover img {
  filter: brightness(0) invert(1);
}

/*** Header ***/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
header p {
  font-weight: 600;
  margin: 10px 0px;
}
header .filAriane {
  padding: 0px 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}
header hr {
  height: 1px;
  width: 100%;
  background-color: rgb(227, 227, 227);
  border: none;
}

/***** Fiche enseignant *****/
.interventions .mod-ens,
.infosGenerales .mod-ens {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.interventions .mod-ens h2,
.infosGenerales .mod-ens h2 {
  font-weight: 600;
}
.interventions .mod-ens .sub-title,
.infosGenerales .mod-ens .sub-title {
  font-size: 18px;
  color: var(--couleur-secondaire);
}
.interventions .mod-ens p,
.infosGenerales .mod-ens p {
  font-size: var(--taille-texte-principal);
}
.interventions .mod-ens hr,
.infosGenerales .mod-ens hr {
  height: 1px;
  width: 100%;
  background-color: var(--couleur-secondaire);
  border: none;
  margin-top: 10px;
}
.interventions .infos-ens,
.infosGenerales .infos-ens {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 80px;
}
.interventions .onglet,
.infosGenerales .onglet {
  display: flex;
  align-items: center;
  gap: 5px;
}
.interventions .onglet a,
.infosGenerales .onglet a {
  border: 1px solid #23345646;
  border-radius: 8px;
  padding: 5px 15px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.interventions .onglet a:hover,
.infosGenerales .onglet a:hover {
  background-color: var(--couleur-principal);
  color: white;
  border-color: #23345682;
}

/*******************************************
                Page Connexion
*******************************************/
.connexion aside {
  display: flex;
  min-height: 100vh;
}
.connexion nav {
  background-color: var(--couleur-fond-nav);
  width: 20%;
  height: 100vh;
}
.connexion .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  gap: 10px;
}
.connexion .logo img {
  width: 30px;
  height: 31px;
}
.connexion .logo p {
  font-size: 15px;
  font-weight: bold;
}
.connexion .logo span {
  font-size: 10px;
  font-weight: bold;
}
.connexion .logo .logo-container {
  line-height: 1;
}
.connexion main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding-left: 100px;
}
.connexion h1 {
  color: black;
  font-size: 30px;
  margin-bottom: 50px;
}
.connexion h2 {
  color: var(--couleur-principal);
  font-size: 20px;
  margin-bottom: 30px;
}
.connexion form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}
.connexion label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}
.connexion input {
  padding: 10px;
  width: 500px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.connexion form button {
  all: unset;
  cursor: pointer;
  background-color: var(--couleur-principal);
  color: white;
  text-align: center;
  padding: 14px 20px;
  border-radius: 8px;
  width: max-content;
  margin-top: 10px;
  transition: all 0.3s;
}
.connexion form button:hover {
  background-color: var(--couleur-principal-hover);
}

/*******************************************
                Corps enseignant
*******************************************/
.corpsEnseignant .aside-page .menu-child:nth-child(3) {
  background-color: var(--couleur-principal-hover);
  color: white;
}
.corpsEnseignant .aside-page .menu-child:nth-child(3) img {
  filter: brightness(0) invert(1);
}
.corpsEnseignant .top-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--couleur-principal-hover);
}
.corpsEnseignant .top-main h2 {
  font-weight: 600;
}
.corpsEnseignant .top-main button {
  background-color: var(--couleur-principal);
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: var(--taille-texte-principal);
  transition: all 0.3s ease;
}
.corpsEnseignant .top-main button:hover {
  background-color: var(--couleur-principal-hover);
}
.corpsEnseignant .form-parent {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.corpsEnseignant form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: var(--taille-texte-principal);
}
.corpsEnseignant .input-box {
  display: flex;
  flex-direction: column;
  width: 27%;
  gap: 5px;
}
.corpsEnseignant form button {
  width: 14%;
  background-color: var(--couleur-secondaire);
  color: black;
  padding: 8px 0px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: var(--taille-texte-principal);
  transition: all 0.3s ease;
  height: fit-content;
}
.corpsEnseignant form button:hover {
  background-color: var(--couleur-secondaire-hover);
}
.corpsEnseignant .filter-txt {
  color: var(--couleur-secondaire);
  font-size: 20px;
  font-weight: 600;
}
.corpsEnseignant .input-box input {
  border-radius: 5px;
  padding: 9px 10px;
  border: 1px solid #23345645;
  color: black;
}
.corpsEnseignant .form-parent hr {
  border: 1px solid var(--couleur-secondaire);
  margin-top: 10px;
}

.corpsEnseignant .enseignant-found {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.corpsEnseignant .enseignant-found h3 {
  font-weight: 600;
}
.corpsEnseignant .tableau {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.corpsEnseignant .tableau-child:nth-child(1) {
  font-size: var(--taille-texte-secondaire);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  padding: 15px 10px;
  background-color: #00000008;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #000000c8;
}
.corpsEnseignant .tableau-child {
  font-size: var(--taille-texte-secondaire);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  padding: 12px 10px;
  border-bottom: 2px solid #00000008;
  font-weight: 500;
}
.corpsEnseignant .tableau-child p {
  margin: 0px 6px;
}
.corpsEnseignant .voirFiche {
  display: flex;
  gap: 5px;
  transition: all 0.3s ease;
}
.corpsEnseignant .voirFiche:hover img {
  transform: scale(1.2);
}

/*******************************************
            FE: Infos générales
*******************************************/
.infosGenerales .aside-page .menu-child:nth-child(3) {
  background-color: var(--couleur-principal);
  color: white;
}
.infosGenerales .aside-page .menu-child:nth-child(3) img {
  filter: brightness(0) invert(1);
}
.infosGenerales .onglet a:nth-child(1) {
  color: white;
  background-color: var(--couleur-principal);
}
.infosGenerales .infos-ens form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}
.infosGenerales .infos-ens form p {
  color: var(--couleur-secondaire);
  font-size: 18px;
}
.infosGenerales .input-form {
  display: flex;
  justify-content: space-between;
}
.infosGenerales .infos-ens .input-box {
  display: flex;
  flex-direction: column;
  width: 32%;
  font-size: var(--taille-texte-principal);
  gap: 2px;
}
.infosGenerales .infos-ens input {
  padding: 2%;
  border: 1px solid #23345646;
  border-radius: 5px;
}
.infosGenerales .infos-ens .select-form {
  width: 100%;
}
.infosGenerales .infos-ens .select-form .ts-control .item {
  background-color: #707070;
  color: white;
  border-radius: 5px;
}
.infosGenerales .infos-ens button {
  border: 1px solid #23345682;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--couleur-principal);
  color: white;
  width: fit-content;
}
.infosGenerales .infos-ens button:hover {
  background-color: var(--couleur-principal-hover);
}
.infosGenerales .msgEnvoie {
  width: fit-content;
  font-size: var(--taille-texte-secondaire);
  border: 1px solid #179a00;
  border-radius: 5px;
  padding: 3px 9px;
  background-color: #179a004c;
  margin: -10px 0px;
}
/*******************************************
            FE : interventions
*******************************************/
.interventions .aside-page .menu-child:nth-child(3) {
  background-color: var(--couleur-principal);
  color: white;
}
.interventions .aside-page .menu-child:nth-child(3) img {
  filter: brightness(0) invert(1);
}
.interventions .onglet a:nth-child(2) {
  color: white;
  background-color: var(--couleur-principal);
}
